
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    background-color: rgba(250, 128, 114, 0.58);
    border-radius: 20px;
    border: solid black 2px;
    margin: 0 auto;
    padding: 10px;.
}
 
input {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.dishes {
    width: 100%;
    margin-top: 2rem;
    
}
 
.liste-plats {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    height: ;
   
}
 
 
 
.li-plats {
    
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
 
 
.btn-add {
    padding: 1rem;
    width: 15rem;
}
 
 
.dishes img {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}



.btn-favorite {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-favorite:hover {
  background-color: rgb(249,250,251);
}

.btn-favorite:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-favorite:focus-visible {
  box-shadow: none;
}
 


.scroll-btn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 5rem;
    left: 47%;
    transform: rotate(90deg);
}

footer {
    width: 100%;
    height: 20%;
    display: flex;

    position: relative;
    top: 20rem;

}

.alphabet {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    list-style-type: none;
}

.lettres {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* CSS */
.submit {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.submit:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.submit:hover:after {
  transform: translate(0, 0);
}

.submit:active {
  background-color: #ffdeda;
  outline: 0;
}

.submit:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .submit {
    padding: 0 40px;
  }
}